@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');


.App {
  text-align: center;
}

.container {
  margin: 20px 150px 100px 150px;
}

h1 {
  margin: 3rem;
}

:root {
  --green: #50C878;
  --black: #130f40;
  --light-color: #666;
  --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
  --border: .2rem solid rgba(0,0,0,.1);
  --outline: .4rem solid rgba(0,0,0,.1);
  --outline-hover: .5rem solid var(--black);
}

*{
  font-family: 'Poppins', sans-serif;
  margin:0; padding:0;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all .2s linear;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin : 10px 0 10px 0;
}

.box {
  background: #fff;
  border-radius: .5rem;
  text-align: center;
  padding: 7rem 2rem 7rem;
  outline: var(--outline);
  outline-offset: -1rem;
  box-shadow: var(--box-shadow);
  transition: .2s linear;
  height: 20rem;
  width: 20rem;
  font-size: 1.6rem;
  color: var(--black);
}

.box:hover {
  outline-offset: 0rem;
  outline: var(--outline-hover);
}


